sources:
{% for name, cfg in vector_sources.items() %}
  {{ name }}:
{% for k, v in cfg.items() %}
    {{ k }}: {{ v | to_nice_yaml(indent=0) | trim }}
{% endfor %}
{% endfor %}

sinks:
{% for name, cfg in vector_sinks.items() %}
  {{ name }}:
{% for k, v in cfg.items() %}
    {{ k }}: {{ v | to_nice_yaml(indent=0) | trim }}
{% endfor %}
{% endfor %}
